In [1]:
a=input("enter your name:")
print(a)

enter your name:nikhitha
nikhitha

In [2]:
val=input()
print(val)

12
12

In [ ]:
val=int(input('enter iinteger value:'))
print(val)
print(type(val))

In [2]:
a=int(input("enter first integer"))
b=int(input("enter second integr"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

enter first integer25
enter second integr10
35
15
250
2.5
2
95367431640625
5

In [4]:
age=int(input("enter age:"))
if(age>18):
    print("you are eligible to vote")
else:
     print("you are not eligible to vote")

enter age:12
you are not eligible to vote

In [6]:
number=int(input("enter any number:"))
if(number%2==0):
    print("even")+
else:
    print("odd")

enter any number:3
odd

In [8]:
number=int(input("enter any number:"))
if(number==1):
    print("one")
elif(number==2):
    print("two")
elif(number==3):
    print("three")
elif(number==4):
    print("four")
elif(number==5):
    print("five")
elif(number==6):
    print("six")

enter any number:3
three

In [11]:
number=int(input())
match number:
    case 1:
        print("hello")
    case 2:
        print("hi")
    case default:
        print("none")

SyntaxError: invalid syntax (<ipython-input-11-3362ce2ab7ca>, line 2)

In [16]:
marks=int(input("enter marks"))
if(marks>91 and marks<100):
    print("O")
elif(marks>81 and marks<90):
    print("s")
elif(marks>71 and marks<80):
    print("a")

enter marks78
a

In [15]:
marks=int(input("enter marks"))
if(marks>70):
    if(marks>80):
        if(marks>90):
            print("o")
        else:
            print("s")
    else:
        print("A")
else:
    print("fail")

enter marks76
A

In [19]:
character=input()
if(character=='a'or character=='e'or character=='i'or character=='o'or character=='u'):
    print("vowels")
else:
    print("consonent")

a
vowels

In [21]:
ch=input()
print(ord(ch))

W
87

In [22]:
ch=int(input())
print(chr(ch))

89
Y

In [25]:
ch=int(input())
print(bin(ch))

2
0b10

In [30]:
ch=input()
print(ch.swapcase)

w
<built-in method swapcase of str object at 0x000001FBBBA40AF0>

In [3]:
val=input()
if(val>='A' and val<='Z'):
    val=chr(ord(val)+32)
else:
    val=chr(ord(val)-32)
print(val)

n
N

In [4]:
print(~-10)

9

In [5]:
print(~10)

-11

In [8]:
i=0
while(i<=10):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [1]:
i=10
while(i>0):
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [2]:
i=int(input())
while(i>0):
    print(i)
    i-=1

20
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [5]:
#calculate cube of odd no using for loop in range 10
print({x:x**3 for x in range(10) if x%2==1})

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

In [20]:
sum=0
for i in range(1,5):
    sum=sum+float(i**i/i)
print(sum)

76.0

In [21]:
class abc: 
    var=100  #class variable 
obj=abc() #main program
print(obj.var) #accessing var from the class

100

In [1]:
n=int(input("enter any number"))
s=0
while (n>0):
    r=n%10
    s=s+(r*r*r)
    n=n/10
if n==s:
    print("armstrong")
else:
    print("not an armstrong")

enter any number371
not an armstrong

In [27]:
class abc: 
    var=100  #class variable 
    def display(self):
        print("nikhitha")
obj=abc() #main program
print(obj.var)
obj.display()

100
nikhitha

In [2]:
class abc:
    def __init__(self,val):
        self.val=val
        print("the passed arg from main",val)
obj=abc(10)

the passed arg from main 10

In [6]:
class number:
    even=0
    def check(self,num):
        if num%2==0:
            self.even=1
    def e_o(self,num):
        self.check(num)
        if self.even==1:
            print(num,"is even")
        else:
            print(num,"is odd")
n=number()
n.e_o(2)

2 is even

In [24]:
#find mutable atraibtes by taking a class of numbers to pass random 5 numbers to class and segratate then into odd and even list separately
class number:
    evenlist=[]
    oddlist=[]
    def __init__(self,num):
        self.num=num
        if num%2==0:
            number.evenlist.append(num)
        else:
            number.oddlist.append(num)      
        #return evenlist,oddlist
n1=number(21)
n2=number(32)
n3=number(44)
n4=number(35)
n5=number(66)
print(number.evenlist)
print(number.oddlist)

[32, 44, 66]
[21, 35]

In [15]:
num=int(input())
def num_of_digits(num):
    count=0
    while(num>0):
        num=num//10
        count+=1
    return count
print(num_of_digits(num))

123
3

In [17]:
n=int(input())
def function(n):
    reverse=0
    while(n>0):
        x=n%10
        reverse=reverse*10+x
        n=n//10
    return reverse
print(function(n))

123
321

In [22]:
n=int(input())
def function(n):
    reverse=0
    while(n>0):
        x=n%10
        reverse=reverse*10+x
        n=n//10
    return reverse
m=function(n)
print(m)
if(m==n):
    print("palindrome")
else:
    print("not a palindrome")

456
654
not a palindrome

In [25]:
n=int(input())
def rev(n):
    reverse=0
    while(n>0):
        x=n%10
        reverse=reverse*10+x
        n=n//10
    return reverse
def palindrome(n):
    if(n==rev(n)):
        print("palinfrome")
    else:
        print("not a palindrome")
palindrome(n)

454
palinfrome

In [2]:
num=int(input())

def num_of_digits(num):
    count=0
    while(num>0):
        num=num//10
        count+=1
    return count
def armstrong(num):
    sum=0
    c=num_of_digits(num)
    while (num>0):
        r=num%10
        sum=sum+(r**c)
        num=num//10
    return sum
def arm(num):
    if (num==armstrong(num)):
        print("armstrong")
    else:
        print("not an armstrong")
arm(num)

153
armstrong

In [3]:
num=int(input())
def sum_of_digits(num):
    sum=0
    while(num>0):
        r=num%10
        sum=sum+r
        num=num//10
    return sum
print(sum_of_digits(num))

123
6

In [4]:
class magic_check():

SyntaxError: unexpected EOF while parsing (<ipython-input-4-95c19e22eec7>, line 2)

In [13]:
str1="abcd"
str2="ate"
for i in str1:
    print(i+str2)

aate
bate
cate
date

In [8]:
n=int(input())
def rev(n):
    reverse=0
    while(n>0):
        x=n%10
        reverse=reverse*10+x
        n=n//10
    return reverse
def firstno(n):
    square1=n*n
    return square1
def secondno(n):
    s=rev(n)
    square2=s*s
    return square2
def check(n):
    a=secondno(n)
    b=rev(a)
    return b
print(rev(n))
print(firstno(n))
print(secondno(n))
print(check(n))

12
21
144
441
144

In [10]:
class abc():
    class_var=0
    def __init__(self,var):
        
        abc.class_var+=1
        self.var=var
        print('obj value',var)
        print('class value',abc.class_var)
obj1=abc(11)
obj1=abc(12)
obj1=abc(13)

obj value 11
class value 1
obj value 12
class value 2
obj value 13
class value 3

In [19]:
class abc():
    class_var=0
    def __init__(self,var):
        
        abc.class_var+=1
        self.var=var
        print('obj value',var)
        print('class value',abc.class_var)
    def __del__(self):
        abc.class_var-=1
        print("obj value %d out of scope" %self.var)
obj1=abc(11)
obj2=abc(12)
obj3=abc(13)
del obj1
del obj2
del obj3

obj value 11
class value 1
obj value 12
class value 2
obj value 13
class value 3
obj value 11 out of scope
obj value 12 out of scope
obj value 13 out of scope

In [20]:
class rectangle():
    def get_data(self):
        rectangle.l=int(input('enter lenght'))
        rectangle.b=int(input('enter breadth'))
    def show_data(self):
        print('length=',rectangle.l,'\tbreadth=',rectangle.b)
    def area(self):
        print('area=',rectangle.l*rectangle.b)
rect=rectangle()
rect.get_data()
rect. show_data()
rect.area()

enter lenght10
enter breadth2
length= 10 	breadth= 2
area= 20

In [23]:
class circle():
    pi=3.14
    def get_data(self):
        circle.r=int(input('enter lenght'))
    def show_data(self):
        print('radius=',circle.r)
    def area(self):
        print('area=',circle.pi*circle.r*circle.r)
    def circum(self):
        print('cicum=',circle.pi*circle.r*2)   
c=circle()
c.get_data()
c.show_data()
c.area()
c.circum()

enter lenght3
radius= 3
area= 28.259999999999998
cicum= 18.84

In [25]:
class circle():
    pi=3.14
    def __init__(self,radius):
        self.radius=radius
    def area(self):
        return circle.pi*self.radius*self.radius
    def cir(self):
        return 2*circle.pi*self.radius
c=circle(7.5)
print("area",c.area())
print("circumference",c.cir())

area 176.625
circumference 47.1

In [29]:
class abc():
    def __init__(self,name,var):
        self.name=name
        self.var=var
    def __repr__(self):
        return repr(self.var)
    def __len__(self):
        return len(self.name)
    def __cmp__(self,obj):
        return self.var -obj.var
obj=abc("abcdef",10)
print("the value stored object",repr(obj))
print("lenth",len(obj))
obj1=abc("ghijkl",1)
val=obj.__cmp__(obj1)
if val==0:
    print("eql")
elif val==-1:
    print("1st value is smaller")
else:
    print("second value is smaller")

the value stored object 10
lenth 6
second value is smaller

In [1]:
n=int(input())
s=n**(1/2)
print(s)

36
6.0

In [2]:
class square_root:
    def __init__(self,num):
        self.num=num
s=square_root(10)
print(s.__dict__)
s.helo=5
print(s.__dict__)
del s.num
print(s.__dict__)

{'num': 10}
{'num': 10, 'helo': 5}
{'helo': 5}

In [17]:
class cooridinates:
    def __init__(self,num1,num2):
        self.num1=num1
        self.num2=num2
    def __add__(self,obj):
        first=self.num1+obj.num1
        second=self.num2+obj.num2
        return(first,second)
    def __sub__(self,obj):
        first=abs(self.num1-obj.num1)
        second=abs(self.num2-obj.num2)
        return(first,second)
    
c1=cooridinates(10,20)  
c2=cooridinates(10,20) 
print(c1+c2)
print(c1-c2)

(20, 40)
(0, 0)

In [22]:
class abc():
    def __init__(self,str1,str2):
        self.str1=str1
        self.str2=str2
    def __cmp__(self,obj):
        return self.str1 -obj.str2
        
obj1=abc("hello")
obj2=abc("hi")
val=obj.__cmp__(obj1)
if val==0:
    print("eql")
else:
    print("not equal")

TypeError: __init__() missing 1 required positional argument: 'str2'

In [24]:
class strings():
    def __init__(self,st):
        self.st=st  
    def __gt__(self,obj):
        return self.st>obj.st
obj1=strings("hello")
obj2=strings("world")
print(obj1>obj2)

False

In [31]:
class strings():
    def __init__(self,st):
        self.st=st  
    def __eq__(self,obj):
        return self.st==obj.st
obj1=strings("hello")
obj2=strings("ello")
print(obj1==obj2)

False

In [34]:
class numbers():
    def __init__(self,lis):
        self.mylist=lis
    def display(self):
        print(self.mylist)
    def __getitem__(self,index):
        return self.mylist[index]
    def __setitem__(self,index,val):
        self.mylist[index]=val

num=numbers([1,2,3,4])
num.display()
num[3]=10
num.display()

[1, 2, 3, 4]
[1, 2, 3, 10]

In [63]:
class values():
    def __init__(self,n1,n2):
        self.num1=n1
        self.num2=n2
Ob=values(10,20)
Ob.num3=15
print(Ob.num3)
print(hasattr(Ob,'num3'))
print(getattr(Ob,'num1'))
print(setattr(Ob,'num4',90))
print(getattr(Ob,'num4'))
delattr(Ob,'num1')
print(Ob.num1)

15
True
10
None
90

AttributeError: 'values' object has no attribute 'num1'

In [50]:
class values():
    def __init__(self,n1,n2):
        self.num1=n1
        self.num2=n2
Ob=values(10,20)
print(hasattr(Ob,'num3'))

False

In [69]:
class values():
    def __init__(self,n1=10):
        self.num1=n1 #public variable
        self._num2=15 #protected variable
        self.__num3=16 #priavte variable accesed within the method
ob=values()
print(ob.num1)
print(ob._num2)
print(ob._values__num3)

10
15
16

In [7]:
n=4
for i in range(n):
    for j in range(i+1):
        print('*',end =' ')
    print("\n")

*

* *

* * *

* * * *

In [8]:
n=4
for i in range(n):
    for j in range(i+1):
        print(j+1,end =' ')
    print("\n")

1

1 2

1 2 3

1 2 3 4

In [17]:
n=6
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==j or i==n or j==1:
            print('*',end =' ')
        else:
            print(" ",end=' ')
    print("\n")

*

* *

*   *

*     *

*       *

* * * * * *

In [23]:
for row in range(6):  
    for col in range(7):  
        if (row==0 and col %3 !=0)or(row==1 and col %3==0) or(row-col==2) or(row+col==8):  
            print("\u2665",end=" ")  
        else:  
            print(end=" ")  
    print()

 ♥ ♥  ♥ ♥
♥   ♥   ♥
♥      ♥
 ♥    ♥
  ♥  ♥
   ♥

In [28]:
def measure(x):
    return x*10
class abc():
    def __init__(self,var):
        self.var=var
    def display(self):
        print("var=",self.var)
    def modify(self):
        self.var=measure(self.var)
        #print("reuslt",self.var)
obj=abc(10)
obj.display()
obj.modify()
obj.display()

var= 10
var= 100

In [37]:
class abc():
    def __init__(self,var1,var2):
        self.var1=var1
        self.var2=var2
    def display(self):
        print("var1=",self.var1)
        print("var2=",self.var2)
obj=abc(10,12.34)
obj.display()
print("object.__dict__",obj.__dict__)
print("object.__doc__",obj.__doc__)
print("class.__name__",abc.__name__)
print("object.__module__",obj.__module__)
print("class.__bases__",abc.__bases__)

var1= 10
var2= 12.34
object.__dict__ {'var1': 10, 'var2': 12.34}
object.__doc__ None
class.__name__ abc
object.__module__ __main__
class.__bases__ (<class 'object'>,)

In [39]:
from time import*
t1=perf_counter()
i,sum=0,0
while i<=100000:
    sum+=1
    i+=1
sleep(0)
t2=perf_counter()
print('execution time=%f second' %(t2-t1))

execution time=0.025249 second

In [40]:
class abc():
    def __init__(self,name,var):
        self.name=name
        self.var=var
    def __repr__(self):
        return repr(self.var)
    def __len__(self):
        return len(self.name)
    def __cmp__(self,obj):
        return self.var -obj.var
obj=abc("abcdef",10)
print("the value stored object",repr(obj))
print("lenth",len(obj))
obj1=abc("ghijkl",1)
val=obj.__cmp__(obj1)
if val==0:
    print("eql")
elif val==-1:
    print("1st value is smaller")
else:
    print("second value is smaller")

the value stored object 10
lenth 6
second value is smaller

In [43]:
class number():
    def __init__(self):
        self.values=[]
    def find_max(self):
        max=' '
        for i in self.values:
            if i>max:
                max=i
        print('max= %r' %max)
    def insert_element(self):
        value=input('enter elements')
        self.values.append(value)
x=number()
ch='y'
while ch=='y':
    x.insert_element()
    ch=input('do you wish to enter more elements')
x.find_max()

enter elementshello
do you wish to enter more elementsy
enter elementsnikhi
do you wish to enter more elementsn
max= 'nikhi'

In [3]:
n=156
s=0
while n>0:
    r=n%10
    s+=r
    n=n//10
if n%s==0:
    print("lenin")
else:
    print("not")

lenin

In [25]:
def happyno(n):
    s=0
    while (n>0):
        r=n%10
        s+=r**2
        n=n//10
    return s
n=int(input("enter no"))
r=n
while r!=1 and r!=4:
    r=happyno(r)
if r==1:
    print("happy")
else:
    print("not happy")

enter no97
happy

In [33]:
str1=input()
str2=input()
if(sorted(str1)==sorted(str2)):
    print("anagram")
else:
    print("not a anagram")

nikhitha
ikh
not a anagram

In [34]:
str1=input()
str2=input()
if len(str1)==len(str2):
    if(sorted(str1)==sorted(str2)):
        print("anagram")
else:
    print("not a anagram")

listen
silent
anagram

In [9]:
arr=[1,2,3,1]
print(type(arr))
print(arr)
arr.extend([15,25,35,45])
print(arr)
print(arr.count(1))
print(arr.index(1))

<class 'list'>
[1, 2, 3, 1]
[1, 2, 3, 1, 15, 25, 35, 45]
2
0

In [14]:
#list functions
arr=[1,2,3,1]
print(type(arr))
print(arr)
arr.append(20)
print(arr)
arr.pop(2)
print(arr)
arr.insert(2,5)
print(arr)
arr.extend([15,25,35,45])
print(arr)
print(arr.count(1))
print(arr.index(1))
arr.sort()
print(arr)

<class 'list'>
[1, 2, 3, 1]
[1, 2, 3, 1, 20]
[1, 2, 1, 20]
[1, 2, 5, 1, 20]
[1, 2, 5, 1, 20, 15, 25, 35, 45]
2
0
[1, 1, 2, 5, 15, 20, 25, 35, 45]

In [3]:
# to take student name and marks as input and return their averages
class student:
    def __init__(self,name):
        self.name=name
        self.marks=[]
        self.get_marks()
        self.avrg()
        self.display()
    def get_marks(self) :
        for i in range(1,7):
            m=int(input("enter marks:"))
            self.marks.append(m)
    def avrg(self):
        avg=sum(self.marks)/len(self.marks)
        print(avg)
    def display(self):
        print(self.name,self.marks)
s=student("nikhitha")

enter marks:12
enter marks:12
enter marks:12
enter marks:13
enter marks:13
enter marks:13
12.5
nikhitha [12, 12, 12, 13, 13, 13]

In [10]:
class division:
    def __init__(self,num1,num2):
        self.num1=num1
        self.num2=num2
        self.div()
    def div(self):
        q=self.num1//self.num2
        r=self.num1%self.num2
        print(q)
        print(r)
s=division(15,2)

7
1

In [9]:
class division:
    def __init__(self,num1,num2):
        self.num1=num1
        self.num2=num2
        self.div()
    def div(self):
        q=self.num1/self.num2
        print(q)
    @classmethod
    def trail(cls,num1,num2):
        if(num1>num2):
            return cls(num1,num2)
        else:
            return cls(num2,num1)
num1=int(input())
num2=int(input())
s=division.trail(num1,num2)

10
20
2.0

In [20]:
#write a cls to find area of rectangle
class rect:
    def __init__(self,num1,num2):
        self.num1=num1
        self.num2=num2
        self.area()
    def area(self):
        q=self.num1*self.num2
        print(q)
    @classmethod
    def square(cls,side):
        return cls(side,side)
d=rect.square(10)

100

In [23]:
class rect:
    def __init__(self,num1,num2):
        self.num1=num1
        self.num2=num2
        self.area()
    def area(self):
        q=self.num1*self.num2
        print(q)
    @classmethod
    def square(cls,side):
        return cls(side,side)
    @classmethod
    def paralleogram(cls,b,h):
        return cls(b,h)
d=rect(10,4)
d1=rect.square(10)
d2=rect.paralleogram(10,2)

40
100
20

In [26]:
class A():
    num1=10
    pass
class B(A):
    num2=20
class C(B):
    num3=30
print(C.num1)

10

In [28]:
#mnay to one
class A():
    num1=10
    pass
class B():
    num2=20
class C(A,B):
    num3=30
print(C.num2)

20

In [29]:
#mnay to many
class A():
    num1=10
    pass
class B():
    num2=20
class C(A,B):
    num3=30
class D(C,A,B):
    print(C.num2)

20

In [30]:
#write a parent class of name and age of a person
class parent():
    name="nikhitha"
    age=20
print(parent.name,parent.age)

nikhitha 20

In [33]:
class person():
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def display(self):
        print(self.name)
        print(self.age)
class teacher(person):
    def __init__(self,name,age,desigantion,exp):
        person.__init__(self,name,age)
        self.desigantion=desigantion
        self.exp=exp
        self.__display()
    def __display(self):
        person.display(self)
        print(self.desigantion)
        print(self.exp)
    
class student(person):
    def __init__(self,name,age,branch,year):
        person.__init__(self,name,age)
        self.branch=branch
        self.year=year
        self.__display()
    
    def __display(self):
        person.display(self)
        print(self.branch)
        print(self.year)    
teach1=teacher('pramod',45,'HoD',25)

pramod
45
HoD
25

In [37]:
#multi-path to cross check whether the student is eligble for academics or not
class student:
    def name(self):
        print("name----")
class ap(student):
    def ac(self):
        print("academic score 90% and above")
class ece(student):
    def eces(self):
        print("ece score 60% and above")
class result(ap,ece):
    def e(self):
        print("*****minimum eligibility to apply*****")
        self.ac()
        self.eces()
r=result()
r.e()

*****minimum eligibility to apply*****
academic score 90% and above
ece score 60% and above

In [41]:
#compoisition of multi path
class one:
    def set(self,var):
        self.var=var
    def get(self):
        return self.var
class two:
    def __init__(self,var):
        self.o=one()
        self.o.set(var)
    def show(self):
        print("number=",self.o.get())
        
t=two(100)
t.show()

number= 100

In [43]:
#program to use get and set functions to reterive and set a value
class sample:
    def __init__(self,val):
        self.val=val
    def get_val(self):
        return self.val
    def set_val(self,val):
        self.val=val
s=sample(20)
s.set_val(10)
print(s.get_val())

10

In [46]:
#using property and setter
class sample:
    def __init__(self,val):
        self.val=val
    @property
    def val(self):
        return self.__val
    @val.setter
    def val(self,val):
        self.__val=val
s=sample(20)

In [15]:
'''wite a program to take 4 inital values to convert into complex values respectively define a function complex in 
which use the pre define method _add_ to convert int value into read and imaginary, following submit the 2 
values 1,2 and 3,4 
return values 3+6i'''
class complex:
    def __init__(self):
        self.real=0
        self.imag=0
    def setvalue(self,real,imag):
        self.real=real
        self.imag=imag
    def __add__(self,c):
        temp=complex()
        temp.real=self.real+c.real
        temp.imag=self.imag+c.imag
        return temp
    def display(self):
        print("(",self.real,"+",self.imag,'i',')')
c1=complex()
c1.setvalue(1,2)
c2=complex()
c2.setvalue(3,4)
c3=complex()
c3=c1+c2
c3.display()

( 4 + 6 i )

In [37]:
'''WAP to comparir two objects of uesr define class type by making a class(book) in which aconstructer parameters would be
title ,publisher,price define a function set a class book by assigning all the three parameters and accesing to the class book,
display the three parametrs by using an other function and compair both the books prices and buy the expensive one with the
help of pre defined function _gt_

parameter title-oops with c++,publisher-oxwoard university,price 600
basics of c++,   ,300'''
class book():
    def __init__(self):
        self.title=''
        self.publ=''
        self.price=0
    def get_val(self,title,publ,price):
        self.title=title
        self.publ=publ
        self.price=price
    def display(self):
        print('title:',self.title)
        print('publ:',self.publ)
        print('price:',self.price)
        
        
    def __gt__(self,b):
        if self.price>b.price:
            return True
        else:
            return False
b1=book()
b1.get_val('oops with c++','oxward university',600)
b2=book()
b2.get_val('basics of c++','abc',300)
if b1>b2:
    print('this book is kowledgable:')
    b1.display()
else:
    print('this book is kowledgable:')
    b2.display()

this book is kowledgable:
title: oops with c++
publ: oxward university
price: 600

In [55]:
class distances:
    def __init__(self):
        self.k=0
        self.m=0
    def setvalue(self,k,m):
        self.k=k
        self.m=m
    def __sub__(self,c):
        temp=distances()
        temp.k=self.k-c.k
        temp.m=abs((self.m-c.m))
        return temp
    def display(self):
        print(self.k,".",self.m,'km')
c1=distances()
c1.setvalue(21,70)
c2=distances()
c2.setvalue(18,123)
c3=distances()
c3=c1-c2
c3.display()

3 . 53 km

In [56]:
class distance():
    def __init__(self):
        self.km=0
        self.m=0
        
    def setvalue(self,km,m):
        self.km=km
        self.m=m
    
    def __isub__(self,d):
        #temp=distance()
        #temp.km=self.km-c.km
        self.m=self.m-d.m
        if self.m<0:
            self.m+=1000
        self.km-=1
        self.km=self.km-d.km
        return self
    def convert_to_meters(self):
        print(self.km*1000+self.m)
    def display(self):
        print(self.km,'km',self.m,'m')
d1=distance()
d2=distance()
d1.setvalue(21,70)
d2.setvalue(18,123)
d1-=d2

print('d1-d2=')
d1.display()

d1-d2=
2 km 947 m

In [6]:
class rectangle():
    def get_data(self):
        rectangle.num1=int(input('enter lenght'))
        rectangle.num2=int(input('enter breadth'))
    def area(self):
        q=self.num1*self.num2
        print(q)
class triangle(rectangle):
    def __init__(self):
        rectangle.__init__(self)
    def area(self):
        a=0.5*self.num1*self.num2
        print(a)
        
r=rectangle()
r.get_data()
r.area()
t=triangle()
t.area()

enter lenght2
enter breadth3
6
3.0

In [11]:
class polygon():
    def get_data(self):
        raise NotImplementedError()
    def area(self):
        raise NotImplementedError()
class rect(polygon):
    def get_data(self):
        self.l=float(input('enter lenght'))
        self.b=float(input('enter breadth'))
    def area(self):
        print( self.l*self.b)
class tri(polygon):
    def get_data(self):
        self.base=float(input('enter base'))
        self.h=float(input('enter height'))
    def area(self):
        print(0.5*self.base*self.h)
r=rect()
r.get_data()
r.area()
t=tri()
t.get_data()
t.area()

enter lenght2
enter breadth4
8.0
enter base2
enter height4
4.0

In [12]:
class person():
    def __init__(self,name,age,g):
        self.name=name
        self.age=age
        self.g=g
    def display(self):
        print(self.name)
        print(self.age)
        print(self.g)
class publications():
    def __init__(self,no_rp,no_book,no_art):
        self.no_rp=no_rp
        self.no_book=no_book
        self.no_art=no_art
    def display(self):
        #person.display(self)
        print(self.no_rp)
        print(self.no_book)
        print(self.no_art) 
class teacher(person):
    def __init__(self,name,age,g,d,dept,no_rp,no_book,no_art):
        person.__init__(self,name,age,g)
        self.d=d
        self.dept=dept
        self.publ=publications(no_rp,no_book,no_art)
    def display(self):
        person.display(self)
        print(self.d)
        print(self.dept)
        self.publ.display()
t=teacher("nikhitha",23,"female","HOD","ece",22,4,2)
t.display()

nikhitha
23
female
HOD
ece
22
4
2

In [3]:
from abc import ABC
class Shape(ABC):
    def print(self):
        print("im a normal method defined inside the abstract class shape")
    def caluclate_area(self):
        pass
class Rectangle(Shape):
    length=2
    breadth=3
    def caluclate_area(self):
        return self.length*self.breadth
    
rec=Rectangle()
rec.print()
print(rec.caluclate_area())

im a normal method defined inside the abstract class shape
6

In [15]:
#tcs 2022
#an autobile compnay manufactures both 2 wehheler and 4 wheeler and need to manautfacture as per the give data
v=int(input("no of vechile:"))
w=int(input("no. of wheels"))
if (w%2)==1 or w<2 or w<=v:
    print("invalid input")
else:
    x=(4*v-w)//2
    print(x)
y=v-x
print(y)

no of vechile:200
no. of wheels540
130
70

In [16]:
n=int(input('no.of candies'))
m=int(input('no.of sold candies'))
if n>m:
    print("no of available candies",n-m)

no.of candies10
no.of sold candies3
no of available candies 7

In [17]:
n=int(input('no.of candies'))
m=int(input('no.of sold candies'))
if m in range(n):
    print("no of available candies",n-m)

no.of candies10
no.of sold candies3
no of available candies 7

In [22]:
fuel=int(input("enter fuel:"))
distance=int(input("enter distance"))
fuelconsumption=distance/fuel
print(fuelconsumption)

enter fuel:

ValueError: invalid literal for int() with base 10: ''

In [1]:
import sys
print('enter the no .of liters to fill the tank')
ltt=int(input())
lt=(ltt*1.00)
if(ltt<1):
    print('{} is an invalid input'.format(ltt))
    sys.exit()
print('enter the distance covered')
diss=int(input())
dis=(diss*1.00)
if(diss<1):
    print('{} is an invalid input'.format(diss))
    sys.exit()
hundred=(lt/dis)*100
print('liters/100km')
print(round(hundred,2))
miles=(dis*0.6214)
gallon=(lt*0.2642)
mg=miles/gallon
print('miles/gallons')
print(round(mg,2))

enter the no .of liters to fill the tank
20
enter the distance covered
150
liters/100km
13.33
miles/gallons
17.64